*.txt
*.jpg
*.dist
*.mno
.htaccess
configuration.php
formusuarios.php
index.php
testpass.php
index.html
.vscode/sftp.json
administrator/
api/
bin/
cache/
cli/
components/
database/
images/
includes/
language/
layouts/
libraries/
media/
modules/*/
!modules/mod_slideshow/
plugins/
templates/cassiopeia
templates/system
tmp/
videos/
media/templates/site/cassiopeia
media/templates/site/sanmarcos/prepros.config